/* 全局樣式 */
.layout-container {
    min-height: 100vh;
    background: #f0f2f5;
  }
  
  /* 側邊欄樣式 */
  .profile-siderStyle {
    text-align: center;
    color: #fff;
  }
  
  .logo {
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid #f0f0f0;
  }

  /* 標題樣式 */
  .order-headerStyle {
    text-align: center;
    color: #fff;
    height: 64px;
    padding: 0 24px;
    line-height: 64px;
    background-color: #0f3675 !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
  }